
.main{background-color: black;}
.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    width: 80%;
    margin: 0 auto;
    height: 90vh;
}
.main-content{
    justify-self: start;
    margin-left: 20px;
    color:white;
    width:80%;

}

.main-content h1 {
    font-size :2rem;
    color: aqua;
}
.main-content p{
    margin-top:1rem;
    font-size:1.2rem;
}
.main-btn{
    font-size:1rem;
    background-color: yellow;
    padding: 8px 20px;
    border: none;
    border-radius: 2px;
    color: aliceblue;
    margin-top: 3rem;
    position: relative;
    transition:all.40s;
    outline:none;
}
.main-btn a{
    position:relative;
    z-index:2;
    color:blue;
    text-decoration: none;
    
}
.main.img-container
{
    text-align :right;
}

#main-img{
    height: 40%;
    width:45%;
     background:black;
}

@media screen and (max-width:760px) {
    .main-container{
display:grid;
grid-template-columns: auto;
align-items: center;
justify-self: center;
width: 90%;
margin:0 auto;
background-color: black;
    }
    .main-content{
        justify-self: center;
        color: black;
        width: 80%;
        margin:0;

    }
    .main-content p{
        margin-top: 1rem;
        color: white;
        font-size: smaller;
    }
    #main-image{
        display: none;
    }
    
}